h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#grid_game {
  float: left;
}

#game_space {

}

#player_panels {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.player_panel {
  position: relative;
  height: 60px;
  width: 90px;
  float: left;
}

.player_panel .btn {
  width: 30px;
  height: 30px;
  font-size: 28px;
  text-align: center;
  padding: 0px;
  vertical-align: middle;
  line-height: 30px;
}

.player_panel .btn.north {
  position: absolute;
  top: 0px;
  left: 30px;
}

.player_panel .btn.west {
  position: absolute;
  top: 30px;
  left: 0px;
}

.player_panel .btn.south {
  position: absolute;
  top: 30px;
  left: 30px;
}

.player_panel .btn.east {
  position: absolute;
  top: 30px;
  left: 60px;
}

.player_panel.red {
  background-color: lightpink;
}

.player_panel.blue {
  background-color: lightblue;
}

.player_panel.yellow {
  background-color: yellow;
}

.player_panel.green {
  background-color: lightgreen;
}

#board_space {

}

table.game_board {
  border-spacing: 0;
  border-collapse: collapse;

}

table.game_board tr.row {

}

table.game_board tr.row td.tile {
  height: 32px;
  width: 32px;
  text-align: center;
  border: 1px darkgrey solid;
  font-size: 26px;
  padding: 0px;
}

table.game_board tr.row td.tile_green {
  background-color: lightgreen;
  color: darkgreen;
}

table.game_board tr.row td.tile_red {
  background-color: lightpink;
  color: red;
}

table.game_board tr.row td.tile_blue {
  background-color: lightblue;
  color: blue;
}

table.game_board tr.row td.tile_yellow {
  background-color: yellow;
  color: orangered;
}

table.game_board tr.row td.tile small {
  font-size: 10px;
}

table.game_board tr.row td.tile_rock {
  background-color: #777777;
}

table.game_board tr.row td.tile_wall {
  background-color: #ff190E;
  color: #dddddd;
}

.footer {
  float: left;
  width: 100%;
  font-size: 16px;
  color: darkgrey;
}

.footer p a {
  font-weight: bold;
  text-decoration: none;
  color: darkgrey;
}

.footer p a:visited {
  font-weight: bold;
}

.footer p a:hover {
  font-weight: bolder;
}

#api_space {
  float: left;
  min-width: 400px;
  min-height: 20px;
  background-color: lightgrey;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
}

.button {
  margin: 5px;
  padding: 5px;
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  float: left;
  width: 60px;
  text-align: center;
  user-select: none;
}

.api_space {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: 30px;
}

textarea.code_field {

}

.api_0 {
  background-color: lightgreen;
}

.api_1 {
  background-color: lightpink;
}

.modal_background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.9;
  background-color: #555555;
  display:none;
}

.modal {
  position: absolute;
  left: 20px;
  top: 20px;
  min-width: 1000px;
  display:none;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 20px;
  padding: 20px;
}

.modal.api_0 {
  border-color: lightgreen;
}

.modal.api_1 {
  border-color: lightpink;
}

.info {
  width: 100%;
}

.turn {
  font-size: 30px;

}

.info table#data {
  /*display: none;*/
  font-size: 30px;
}

.info table#data tr {

}

.info table#data tr td{
  padding: 5px;
  min-width: 50px;
  text-align: right;
}

.info table#data tr td.green{
  background-color: lightgreen;
}

.info table#data tr td.red{
  background-color: lightpink;
}